{% extends 'base.html.twig' %}

{% block title %}Musiques{% endblock %}

{% block body %}
<main>
    <div class="search-header">
        <label class="label-search" for="search"><i class="fas fa-search"></i>
            <input type="text" name="search" id="search" placeholder="RECHERCHER">
        </label>
    </div>
    <h1 class="page-title">
        Musiques
    </h1>
    <div class="musics-list">
        <audio src="" id="audio"></audio>
        {% for music in musics %}
        <div class="music-item">
            <div class="music-cover music-cover-list">
                <img src="{{asset('uploads/covers/')}}{{music.album.file}}" alt="subzero-cover">
            </div>
            <div class="music-info">
                <div class="ctn-msc-info">
                    <span class="music-title title-item">{{music.titleM}}</span>
                    <a class="music-artist artist-item"
                        href="{{ path('view_artist', {'slug': music.artist.slug, id: music.artist.id }) }}">{{music.artist.name}}</a>
                    <span class="src-audio">{{asset('uploads/audios/')}}{{music.fileM}}</span>
                </div>

            </div>
            <a class="album-name"
                href="{{ path('view_album', {'slug': music.album.slug, id: music.album.id }) }}">{{music.album.title}}</a>
            <div class="more-info">
                <span class="music-rating"></span>
                <span class="music-duration"></span>
            </div>

        </div>
        {% endfor %}
    </div>
</main>
{{ include('/_player.html.twig') }}

{% endblock %}